@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "arian2004";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(96.12% 0.000 0);
  --color-base-300: oklch(94.21% 0.000 0);
  --color-base-content: oklch(13% 0.028 261.692);
  --color-primary: oklch(84.42% 0.172 84.93);
  --color-primary-content: oklch(10.67% 0.000 0);
  --color-secondary: oklch(67.50% 0.196 34.94);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(60.99% 0.211 257.52);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(10.67% 0.000 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(98% 0.003 247.858);
  --color-success: oklch(63.43% 0.178 140.31);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(55.60% 0.225 28.95);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@theme {
  --font-heading: "Bebas Neue", sans-serif;
  --font-paragraph: "Jost", sans-serif;
}

body {
  font-family: "Jost", sans-serif;
}

.modal {
  z-index: 999; /* or close to it */
}

.dashboard.active{
  @apply bg-neutral-300 dark:bg-gray-700 ;
}

.swiper-button-prev,
.swiper-button-next {
  @apply bg-base-100 rounded-full size-7! m-0! ;
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 14px !important;
}