@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Luckiest+Guy&display=swap');

.logo {
  font-family: "Luckiest Guy", cursive;
}
.jost {
  font-family: "Jost", sans-serif;
}
